# Python
*.pyc
__pycache__/

# Django
*.sqlite3
db.sqlite3
test_db.sqlite3
.pytest_cache/
/staticfiles/
/media/

# Environment variables
.env
.env.*
!.env.example

# Virtual Environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/


# Endpoint documentation
api_documentation.md

# Creds
superuser_creds.txt